<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
  <% for (let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="col">
      <div class="card h-100">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing" style="height:20rem; object-fit:cover;">
        
  <div class="card-img-overlay">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <p class="card-text"><small></small></p>
  
</div>
        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b><br> ₹ <%= listing.price %>/per night</p>
        </div>
      </div>
    </div>
  </a>
    
  <% } %>
</div>
    

    
</body>

